<div class="container top-con">
  <mat-card>
        <mat-card-content class="card-body">
              <p class="display-4 text-center">Sign Up as Host</p>
        </mat-card-content>
  </mat-card>
   <mat-card id="main-card" class="mt-4">
         <mat-card-content>
           <mat-horizontal-stepper [linear]="true">
            <mat-step [stepControl]="hosts">
              <!-- Step 1 -->
              <ng-template matStepLabel>Fill out your details</ng-template>

              <div class="row mt-5">
                <div class="col-md-6">
                      <img src="../../assets/images/tourist-signup.png" class="img-fluid">
                      <button mat-raised-button class="mt-5 btn-lg btn-block" color="accent" [routerLink]="['/login']" routerLinkActive="router-link-active" >Or Login to Continue</button>
                </div>
    
                <div class="col-md-6">
                      <form [formGroup]="hosts">
                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>Name</mat-label>
                                  <input matInput placeholder="Mr. Anderson" formControlName="name">
                                  <mat-error *ngIf="returnControls().name.errors">Name is Required</mat-error>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>Username</mat-label>
                                  <input matInput placeholder="Mr. Anderson" formControlName="username">
                                  <mat-error *ngIf="returnControls().username.errors">Username is Required</mat-error>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>Password</mat-label>
                                  <input matInput placeholder="Mr. Anderson" formControlName="password" [type]="hide ? 'password' : 'text'">
                                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                                  <mat-error *ngIf="returnControls().password.errors">Password is Required</mat-error>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>Confirm</mat-label>
                                  <input matInput placeholder="Mr. Anderson" formControlName="confirm" [type]="hide ? 'password' : 'text'">
                                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                                  <mat-error *ngIf="returnControls().confirm.errors">Passwords must match</mat-error>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>Email</mat-label>
                                  <input matInput placeholder="Mr. Anderson" formControlName="email">
                                  <mat-error *ngIf="returnControls().email.errors">Email is Required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>Phone</mat-label>
                                  <input matInput placeholder="9999 999 999" formControlName="phone">
                                  <mat-error *ngIf="returnControls().phone.errors">phone is Required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>State</mat-label>
                                  <input matInput placeholder="state in world" formControlName="state">
                                  <mat-error *ngIf="returnControls().state.errors">state is Required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>City</mat-label>
                                  <input matInput placeholder="city in world" formControlName="city">
                                  <mat-error *ngIf="returnControls().city.errors">city is Required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                  <mat-label>Aadhaar</mat-label>
                                  <input matInput placeholder="XXXX XXXX XXXX XXXX" formControlName="aadhaar">
                                  <mat-error *ngIf="returnControls().aadhaar.errors">Aadhar is Required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="font-size: small;" class="col-md">
                                  <mat-label>Address</mat-label>
                                  <textarea matInput placeholder="Mr. Anderson" formControlName="address"></textarea>
                                  <mat-error *ngIf="returnControls().address.errors">Address is Required</mat-error>
                            </mat-form-field>

                            <div class="col-md-10">
                                  <button mat-raised-button color="warn" class="ml-auto mt-3" matStepperNext>Next</button>
                            </div>
                      </form>
                      <div class="col-md-10">
                            
                      </div>
                </div>
          </div>
            </mat-step>

            <mat-step>
              <!-- Step 2 -->
              <div class="row sec-row">
                <div class="col-md-6">
                  
                  <div file="Click or drag file" >
                    <input class="myinput" type="file" (change) = "onfileUpload($event)">
                  </div>
                  <button color="accent" mat-raised-button class="btn-block" (click)="UserSubmit()">Sign Up as Host!</button>
                </div>
                <div class="col-md-6">
                  <img [src]="imgURL" *ngIf="imgURL" class="img-fluid" style="width: 100%;">
                </div>
              </div>
            </mat-step>

            <mat-step>
              <!-- Step 3 -->
              <div class="th-row">
                <p class="h4 text-center">
                  GuideMe will now verify your submitted details. On successful verification, you will be a registered host!
                </p>
              </div>
            </mat-step>
           </mat-horizontal-stepper>
              
         </mat-card-content>
   </mat-card>
</div>