.btn{    
        background-color:#d9534f;
        padding: 4px;
    
}

img{
    margin-top: -10px;
    /* margin-right: 1200px; */
}

mat-icon
{
    height: 10px;
    width: 10px;
}

.portfolio-navbar{
    background-image: linear-gradient(to right, rgb(255, 35, 71), rgb(255, 13, 215));
}