.card-header{
    width:350px
}

.top-con{
    margin-top: 10rem;
    margin-bottom: 15rem;
}

mat-card{
    cursor: pointer;
    transition-property: transform;  
}

mat-card:hover{
    transform: translateY(20);
}