            <div class="bg-rg">
              <br><br>                    
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col md-3">
                    <div class="card-header" style="background-color: rgba(0, 0, 0, 0.623);color: cornsilk;">Join Us!</div>
                      <div class="card" style="width: 350px;height: 400px;">
                      
                        <div class="card-body">
                              <img src="../../assets/tour-guide-training-hiring.jpg" height=90% width=100%>
                              <a class="nav-link" href="#" [routerLink]="['/tourist']" routerLinkActive="router-link-active" >
                                 <p class="display-5">
                                   Be Our Guest
                              </p></a>
                          </div>
                          <div class="card-footer">
                              <p class="text-center text-muted" style="font-size:small">
                              Register now to make your trips easier.</p>
                          </div>
                      </div>
                  </div>
          
                  <div class="col md-3">
                    <div class="card-header" style="background-color: rgba(0, 0, 0, 0.623);color: cornsilk;">Invite Guests!</div> 
                    <div class="card" style="width: 350px;height: 400px;">
                     
                          <div class="card-body">
                              <img src="../../assets/house.jpg" height=90% width= 100%>
                              <a class="nav-link" href="#" [routerLink]="['/host']" routerLinkActive="router-link-active" >
                                  <p >
                                  Become a Host
                              </p></a>
                          </div>
                          <div class="card-footer">
                              <p class="text-center text-muted" style="font-size:small"> Sign up to be a host for GuideMe</p>
                          </div>
                      </div>
                  </div>
                  <div class="col md-3">
                    <div class="card-header" style="background-color: rgba(0, 0, 0, 0.623);color: cornsilk;">Show Around!</div>  
                    <div class="card " style="width: 350px;height: 400px;">
                       
                          <div class="card-body">
                              <img src="../../assets/guider.jpg" height=90% width= 100%>
                              <a class="nav-link" [routerLink]="['/tourguide']" routerLinkActive="router-link-active" >
                                  <p>
                                  Become a Guide
                              </p></a>
                          </div>
                          <div class="card-footer">
                              <p class="text-muted text-center" style="font-size:small">
                                   Help people find their way around your town</p>
                          </div>
                  </div>
              </div>
          </div>
          </div>
          <br><br><br><br>
          <br><br><br><br>
          
          
          