<div class="container-fluid">
    <div class="row justify-content-center">    
      <div class="col-md-6">
      <br>
      <mat-card class="example" *ngFor="let order of orders" (click)="toggleForm(order)">
      <mat-card-header>
      
      <div class="float-right">
      <button (click)="deletehost(order._id)">Delete</button>
    </div>
      <mat-card-title style="color: black;">
        </mat-card-title> 
        </mat-card-header> 
        <mat-card-content>
        <p style="color: rgba(0, 0, 0, 0.678);">
        Name: {{order.user}}               <br>
        For: {{order.host}}                <br>               
        Start Date: {{order.startDate}}    <br>       
        End Date: {{order.endDate}}         <br>
         Approved: {{order.verified}}       <br>      
        </p> 
      </mat-card-content>
      </mat-card>
    </div>

  <div class="col-md-6" *ngIf="showform">
  <br>
  <mat-card>
  <mat-card-content class="card-body">
    <form [formGroup]="hostform" (submit)="submitHostForm(hostform.value)">
      <label>Date</label>
      <input formControlName="startDate">
      <mat-checkbox formControlName="verified"> Approve Booking</mat-checkbox>
      <button>Submit</button>
    </form>
  </mat-card-content>
  </mat-card>
  </div>                          
    </div> 
    <div>
    <a [routerLink]="['/adminwebstats']" routerLinkActive="router-link-active">Check Stats</a>         
    </div>
</div>
<!-- <app-hostmanage></app-hostmanage> -->