<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">

      <mat-card>
        <mat-card-content class="card-body">

          <mat-accordion *ngFor="let booking of bookings" >
            <mat-expansion-panel *ngIf="!booking.verified">
              <mat-expansion-panel-header color="primary">
                <mat-panel-title>
                  {{booking.user.name}}
                </mat-panel-title>
                <mat-panel-description>
                  Booked : {{booking.booked | date}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="panel-body">
                  <p class="h6">Name : {{booking.user.name}}</p>
                  <p class="h6">Email : {{booking.user.email}}</p>
                  <p class="h6">Address :{{booking.user.address}}</p>
                  <hr>
                  <div class="row">
                    <p class="h6">Start Date :{{booking.startDate | date}}</p>
                    <p class="h6">End Date :{{booking.endDate | date}}</p>
                  </div>
                  <button class="btn btn-primary" (click)="confirmBooking(booking._id)">Confirm</button>
              </div>
              
            </mat-expansion-panel>
          </mat-accordion>

        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>