.my-image{
    width: 20rem;
    height: 20rem;
}

.my-card{
    width: 20rem;
}

.del-btn{
    position: absolute;
    background-color: rgba(51, 51, 51, 0.609);
    opacity: 0.3;
}

.del-btn:hover{
    opacity: 1;
}