<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find Perfect Host </h1>
    <hr class="my-2">

    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="btn-group">
          <button class="btn btn-danger">Search By</button>
          <div ngbDropdown class="btn-group">
            <button class="btn btn-outline-danger" id="dropdownBasic1" ngbDropdownToggle>{{type}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="setType('City')">City</button>
              <button ngbDropdownItem (click)="setType('State')">State</button>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-9">
          <div class="input-group">
          
            <input class="form-control" #city id="searchbox">
            <div class="input-group-append">
              <button mat-button color="accent" (click)="searchbycity(city.value)">Search</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="host-area">
    <p class="h4 text-center">Hosts</p>
    <hr class="mb-4">
    <p class="text-muted text-center">sort options</p>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select [(ngModel)]="type">
            <mat-option [value]="">None</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city">
              {{city}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select (selectionChange)="filterresults($event)" [(ngModel)]="hostchoices.state">
            <mat-option [value]="''">None</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-3 mt-3" *ngFor="let host of hosts">
        <div class="card">
          <img [src]="'http://localhost:3000/hostimages/'+host.avatar" class="img-fluid card-img-top">
          <div class="card-body text-center">
            <p class="h3">{{host.name}}</p>
            <p class="text-muted">{{host.address}}, {{host.city}}, {{host.state}}</p>
            <p class="text-muted">Phone : {{host.phone}}</p>
          </div>
          <mat-card-actions class="mb-2">
            <div class="text-center">
              <button mat-raised-button [routerLink]="['/booking', host._id]" routerLinkActive="router-link-active"
                color = "primary" class="col-md-5">Book Now</button>
              
              <button mat-button [routerLink]="['/hostprofile', host._id]" routerLinkActive="router-link-active"
                color="primary" class="col-md-5">View</button>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </div>
</div>