.bg-1{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.493)),
    url('/assets/background/back1.jpg');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-btn{
    margin-top: 20%;
}

.top-con{
    padding-top: 10rem;
}

.wel-card{
    margin-top: -10rem;
    box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.466),
                -3px -3px 10px  rgba(0, 0, 0, 0.424);
}

.feature-title{
    padding-top: 5rem;
}

.showcase-text{
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: white;
}

.mid-con{
    /* background-color: rgba(245, 245, 245, 0.781); */
    background-image: linear-gradient(to bottom, rgba(212, 212, 212, 0.822), rgb(212, 212, 212));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.img-area{
    height : 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}