<div class="container-fluid top-con">
<div class="row justify-content-center">
    <div class="col-md-8">
        <p class="h1 text-center">Choose Booking Dates to Continue</p>
    <hr>
    <mat-card class="">
        <mat-card-content class="card-body">
            <form [formGroup]="bookform" (submit)="initiateOrder(bookform.value)">

                <p class="h3">From : </p>
                <mat-form-field class="col-md">
                <mat-label>Start Date</mat-label>
                <input matInput [min]="minDate"  [matDatepicker]="start" formControlName="startDate">
                <mat-datepicker-toggle matPrefix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
                </mat-form-field>
            
                <p class="h3 mt-5">To : </p>
                    <mat-form-field class="col-md">
                    <mat-label>End Date</mat-label>
                    <input matInput [min]="mDate" [matDatepicker]="end" formControlName="endDate">
                    <mat-datepicker-toggle matPrefix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                    </mat-form-field>
                    <button mat-button color="primary">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
    </div>
</div>
</div>

<app-payment [host]="host" [amt]="100" [order]="bookform.value" *ngIf="booked"></app-payment>