<div class="hosts">
    <div class="container-fluid">
        <ngb-carousel *ngIf="host">
            <ng-template ngbSlide *ngFor="let image of host.images">
              <div class="picsum-img-wrapper text-center">
                <img [src]="'http://localhost:3000/hostimages/'+image.name" class="img-fluid rounded" style="width: 85rem;height: 45rem;">
              </div>
            </ng-template>
          </ngb-carousel>
          <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md" *ngIf="host">
                
                <p class="display-4 text-center">{{host.name}}</p>
                <div style="height: 350px;width: 300px;background-repeat: no-repeat;background-size: cover;background-position: center;"
                [style.background-image]="'url(http://localhost:3000/hostimages/'+host.avatar+')'">

                </div>
                <br>
                <p style="font-size: larger;">
                    <fa-icon [icon]="faEnvelope"></fa-icon> : {{host.email}}
                    <br>
                    <fa-icon [icon]="faPhone"></fa-icon> : {{host.phone}}
                    <br>
                    <fa-icon [icon]="faHome"></fa-icon> : {{host.address}} ,{{host.city}} ,{{host.state}}
                    <br>
                </p>

                <button mat-raised-button color="accent" [routerLink]="['/booking', host._id]"
                routerLinkActive="router-link-active">Book Now <fa-icon [icon]="faPen"></fa-icon></button>

                <app-reviews [reviews]="reviews" [myreview]="" [host_id]="hostid" *ngIf="reviews"></app-reviews>
                <!-- <br><br>
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let review of host.reviews">
                        {{review.review}}
                    </div> <br>
                </div> -->
            </div>
            <br>
        </div>
    </div>
</div>